# created by virtualenv automatically

/.idea
pygame-2.5.2-cp38-cp38-win_amd64.whl
balloon setup.exe
mian.exe
/__pycache__
/.git - 副本
/00000000000000000000000000000化学大陆
/no use
化学大陆.bdx
auto-py-to-exe.json
qodana.yaml
/output